* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn-volver {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: #ff0055;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
  }
  
  .btn-volver:hover {
    background-color: #9e0035;
  }
  