*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    gap: 20px;
    font-family: sans-serif, system-ui;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #fefefe;

}
.container-ejercicio{
    background-color: #252525;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}
.container-ejercicio p{
    margin: 10px 0;
}

.container-ejercicio p span{
    font-weight: bold;
}

.container-ejercicio input{
    margin: 10px 0;
}
.container-ejercicio input[type="button"],
.container-ejercicio input[type="submit"],
.container-ejercicio input[type="text"],
.container-ejercicio input[type="number"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.container-ejercicio input[type="button"],
.container-ejercicio input[type="submit"] {
    background-color: #ff0000;
    color: #fefefe;
    cursor: pointer;
}

.container-ejercicio input[type="text"]:focus,
.container-ejercicio input[type="number"]:focus {
    outline: none;
}
